# Atur perilaku line ending secara otomatis
* text=auto

# Tandai file vendor/third-party agar tidak dihitung dalam statistik bahasa pemrograman (Linguist)
frontend/vendor/** linguist-vendored
backend/node_modules/** linguist-vendored

# Secara eksplisit menentukan jenis bahasa pemrograman (opsional tapi membantu deteksi GitHub)
*.js linguist-language=JavaScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.json linguist-language=JSON
*.md linguist-language=Markdown
